.navbar__nav-link {
  @apply flex items-center gap-4 px-4 py-3 rounded-xl  overflow-hidden whitespace-nowrap;
}

.navbar__nav-link:hover {
  @apply bg-gray-100 dark:bg-white/5 transition-all translate-x-1;
  transform: translateX(4px);
}

.navbar__nav-icon {
  @apply text-white-dark transition-colors;
  transition: color 0.3s ease;
}

.navbar__nav-link:hover .navbar__nav-icon {
  @apply text-primary;
}

.navbar__nav-text {
  @apply text-gray-600 dark:text-gray-300 font-medium;
  transition: color 0.3s ease;
}

.navbar__nav-link:hover .navbar__nav-text {
  @apply dark:text-white-light text-dark-light;
}
