.button-theme {
  @apply flex items-center justify-between;
}

.button-theme__container {
  @apply flex items-center p-1 rounded-xl bg-gray-100 dark:bg-black/20 border border-gray-200 dark:border-white/5 hover:border-primary/50 text-gray-500 dark:text-gray-400 hover:text-primary transition-all;
}
