.layout {
  @apply h-full;
}

.layout__background-grid {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: var(--background-grid-pattern);
  background-size: 40px 40px;
}

.layout__scanlines {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 50;
  opacity: 0.2;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    transparent 1px,
    transparent 2px
  );
}
