.layout {
  @apply h-full;
}

.layout__background-grid {
  @apply absolute inset-0 pointer-events-none z-0 bg-[image:var(--background-grid-pattern)] bg-[size:40px_40px];
}

.layout__scanlines {
  @apply absolute inset-0 pointer-events-none z-50 opacity-10 bg-[image:var(--scanlines)];
}
