.navbar {
  @apply w-full h-full flex flex-col border-r border-white/5 backdrop-blur-[15px] p-6 order-2 overflow-y-auto;
}

.navbar__content {
  @apply flex flex-col flex-1 gap-6;
}

.navbar__nav {
  @apply flex flex-col gap-2;
}

.navbar__footer {
  @apply flex flex-col gap-2 mt-6 pt-5 border-t border-white/10;
}

.navbar__bottoms {
  @apply flex flex-row gap-4 mt-6 justify-between;
}

@media (min-width: 768px) {
  .navbar {
    @apply w-[320px] h-full order-1;
  }
  .navbar__footer {
    @apply flex;
  }
}
