@import './theme.css';
@import './animations.css';

@import './layout/layout.css';
@import './layout/navbar.css';
@import './layout/header.css';
@import './layout/stats.css';

@import './components/navbar-links.css';
@import './components/navbar-profile.css';
@import './components/navbar-console.css';
@import './components/button-locale.css';
@import './components/button-theme.css';
@import './components/tech-stack.css';
@import './components/badge.css';

html,
body {
  @apply m-0 p-0 font-sans transition-colors duration-400;
}

body {
  @apply h-screen overflow-hidden flex flex-col md:flex-row relative
        bg-background-light dark:bg-background-dark transition-colors duration-400;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#2a4535] rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#30e87a];
}
