@import './animations.css';
@import './navbar-links.css';
@import './navbar-profile.css';
@import './navbar-console.css';
@import './navbar.css';
@import './layout.css';
@import './theme.css';
@import './button-locale.css';
@import './button-theme.css';

html,
body {
  @apply m-0 p-0 font-sans;
}

body {
  @apply h-screen overflow-hidden flex flex-col md:flex-row relative
        bg-background-light dark:bg-background-dark;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#2a4535] rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#30e87a];
}
